<h1>Hey! Veuillez confirmer votre email!</h1>

<p>
    Vous pouvez confirmer votre adresse mail, en cliquant sur le lien suivant
    <a href="{{ signedUrl|raw }}">Confirmez votre adresse mail</a>.
    Ce liens expire {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Todoment!
</p>
